.container__books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 0;
    left: 0;
}

#closeShop {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}