.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #222629;
    color: #ffffff;
    position: relative;
    top: 0;
    left: 0;
}

.navbar__shop-holder {
    position: relative;
    top: 0;
    left: 0;
}


#hiddenMenu {
    position: absolute;
    top: 100%;
    left: 0;
    height: 80vh;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}

#hiddenMenu ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style-type: none;
}

.show {
    display: flex !important;
}

.hide {
    display: none !important;
}

.lg-nav {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: "Poppins";
}

.lg-nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

#shopCounter {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
